TABLE, body, html {
    width: 100%; /* Ширина таблицы */
    height: 100%; /* Высота таблицы */
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 44pt; /* Размер шрифта в пунктах */
}
