/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}




body{
	font-family: 'Electrolize', Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
}
a{
	text-decoration: none;
}
html, body {
	height:100%;
}
body {
	width: 100%;
	overflow: hidden;
}
#header{
	position: absolute;
	z-index: 100;
	width: 235px;
	top: 50px;
}
#header h1{
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	padding: 20px;
	background: #000;
}
#navigation {
	width: 235px;
}
#navigation a{
	color: #444;
	display: block;
	background: #fff;
	line-height: 56px;
	padding: 0px 20px;
	text-transform: uppercase;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}
#navigation a:active {
	background: #bbb;
}
.content{
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 110px;
	padding: 10px 0px 20px 0px;
	margin-top: 52px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: black;
	margin: 3px 0px;
}
.panel{
	min-width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	background-color: #87cfe6;
	opacity: 0;
	z-index: 2;

	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.panel:target{
	opacity: 1;
}
#home:target ~ #header #navigation #link-home,
#portfolio:target ~ #header #navigation #link-portfolio,
#about:target ~ #header #navigation #link-about {
	background: #000;
	color: #fff;
}
#works {
	padding: 15px 0px;
}
#works li{
	display: inline;
}
#works li a{
	padding-right: 10px;
}
#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 12px; 
	background: rgba(255,255,255,0.9);
}
.footnote a{
	color: #ddd;
}