* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Trebuchet MS", Veradna, Tahoma, Arial, sans-serif;
    font-size: 11px;
}

.game {
    padding: 5px;
}

.game-cont {
    border: 0;
}

.game-cont td {
    padding: 5px;
    vertical-align: top;
    border: #2F4F4F 3px outset;
    background: #BDB76B;
}

.game-menu {
    width: 150px;
}

.game-menu input {
    width: 144px;
    border: #2F4F4F 3px inset;
}

input.game-start-button {
    width: 150px;
    height: 26px;
    margin-top: 1.5em;
    border: #2F4F4F 3px outset;
    background: #BDB76B;
}

.game-stats {
    text-align: center;
    text-align: justify;
}

.game-board {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.game-board td {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: #2F4F4F 1px solid;
}
